* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
}

.memory-cards {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.memory-card {
    width: 200px;
    height: 200px;
    background: #692D55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-shadow: 2px 2px 5px #000000;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 0.5rem;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
    font-size: 1.5em;
    padding: 20px;
}

.flip {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(180deg);
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay h1 {
    font-size: 48px;
    color: #ffffff;
}

.overlay .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
}

.show {
    display: flex;
}